ESP32/Tinyfake86ttgovga32/noota_3g.csv
ESP32/Tinyfake86ttgovga32/CMakeLists.txt
ESP32/Tinyfake86ttgovga32/sdkconfig.esp-wrover-kit
ESP32/Tinyfake86ttgovga32/.vscode/launch.json
ESP32/Tinyfake86ttgovga32/fake86/CMakeLists.txt
